@font-face {
  font-family: "AcuminVariable";
  src: url("/fonts/AcuminVariable.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  touch-action: manipulation;
}

body {
  background-color: #0D1B35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: "AcuminVariable", sans-serif !important;
}